header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f7e70d;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


header img {
  height: 50px;
}


header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav li {
  margin-left: 20px;
}

header nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}


#about {
  text-align: center;
  padding: 50px 0;
  background-color: #f9f9f9;
}

#menu {
  padding: 50px 0;
  background-color: #fff;
}

#menu h3 {
  margin-bottom: 5px;
}

#menu p {
  margin-top: 0;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#menu li {
  margin: 20px;
  width: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#menu img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#order {
  text-align: center;
  padding: 50px 0;
  background-color: #f9f9f9;
}

#order form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#order label {
  margin-bottom: 10px;
  font-weight: bold;
}

#order input,
#order textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  width: 100%;
}

#order input[type="submit"] {
  background-color: #333;
  color: #fff;
  cursor: pointer;

}
body {
  background-image: url("Images/re.jpg");
  background-size: cover;
}
footer {
  background-color: #333; 
  color: #fff; 
  padding: 20px; 
  text-align: center; 
  font-size: 14px; 
}